 <script type="text/x-handlebars-template">
    <div class="pagination-buttons">
        <div class="pagination-button prev">&laquo;</div>

        <div class="pagination-button number active" data-control="'+i+'"> + i + </div>

        <div class="pagination-button next">&raquo;</div>
        <div>
        {{buttons}}
        {{numButtons}}
        {{full}}
        </div>

    </div>
</script>
