.visually-hidden {
  display: none;
}
.visually-active {
  display: block;
}

/*button styles*/
.pagination-buttons {
    clear: both;
    display: inline-block;
    width: 100%
}
.pagination-buttons .pagination-button{
    color: #000;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination-buttons .pagination-button.active {
    background-color: #2a597f;
    color: white;
    border: 1px solid #2a597f;
}

.pagination-buttons .pagination-button:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
}
